<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # Handle Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]

    <Files .env>
    order allow,deny
    Deny from all
    </Files>
    <Files .gitattributes>
    order allow,deny
    Deny from all
    </Files>
    <Files .gitignore>
    order allow,deny
    Deny from all
    </Files>
    <Files .htaccess>
    order allow,deny
    Deny from all
    </Files>
    <Files composer.json>
    order allow,deny
    Deny from all
    </Files>
    <Files composer.lock>
    order allow,deny
    Deny from all
    </Files>
    <Files package.json>
    order allow,deny
    Deny from all
    </Files>
    <Files phpunit.xml>
    order allow,deny
    Deny from all
    </Files>
    <Files readme.md>
    order allow,deny
    Deny from all
    </Files>
    <Files webpack.mix.js>
    order allow,deny
    Deny from all
    </Files>
    <Files server.php>
    order allow,deny
    Deny from all
    </Files>
</IfModule>
